*.class
*.log

.idea/
.settings/
bin/
exportToHTML/
lib_managed/
doc/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
rebel.xml
run.bat
target/
/*.DS_Store
